<%- include('../partials/header') %>

<section>
   <div>
      <% if (loggedInUser) { %>
      <div class="paper">
            <div class="pattern">
               <div class="content">
      <form id="create-post" action="/posts" method="POST">
         <input type="text" name="title" placeholder="Title">
         <label>Title</label>
         <input type="datetime-local" name="date" value="<%=currentDate%>">
         <label>Date</label>
         <textarea name="entry" placeholder="Entry"></textarea>
         <label>Entry</label>
         <input class="my-button" type="submit" value="Save Journal">
      </form>
   </div>
</div>
</div>
      <% } else { %>
         <h1> Please Log In </h1>
      <%  } %>
   </div>
</section>


<%- include('../partials/footer') %>